/* Reset and base styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}


/* 🧾 Login Box */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(67, 194, 219, 0.9);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  max-width: 400px;
  height: 400px;
  width: 90%;
  z-index: 1;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #f7050d;
  font-size: 24px;
  font-style: italic;
}

.login-container input {
  width: 90%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #cccccc05;
  border-radius: 8px;
  font-size: 16px;
}

.login-container button {
  width: 90%;
  padding: 12px;
  background-color: #75f406;
  color: rgb(4, 117, 254);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #fd0404;
}

.register-link {
  margin-top: 15px;
  font-size: 16px;
}

.register-link a {
  color: #f93f06;
  text-decoration: none;
}
